/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
    margin-bottom: 20vh;
    border-radius: 30px;
}

/* Login form styles */
.login-form {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: flex;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* p {
    margin-top: 10px;
} */

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.check {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}


/* navbar styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23446b;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;

}

.logo img {
    width: 80px;
    height: 70px;
    margin-right: 5px;
    border-radius: 50%;
}


.navbar {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.footer-content {
    text-align: center;
    padding: 10px 0;
    background-color: #23446b;
    color: white;
}

.footer-icons img {
    width: 30px;
    margin: 0 10px;
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }



}