* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23446b;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;


}

.logo img {
    width: 80px;
    height: 70px;
    margin-right: 5px;
    border-radius: 50%;
}


.navbar {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.footer-content {
    text-align: center;
    padding: 10px 0;
    background-color: #23446b;
    color: white;
}

.footer-icons img {
    width: 30px;
    margin: 0 10px;
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }



}


/* carousal styling */
.canvas {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80vw;
    aspect-ratio: 17/8;
    position: relative;
    overflow: hidden;


}

.flex-container {
    display: flex;
    height: 100%;
    background-color: red;
    transition: 1s ease;
}

.btn {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: rgb(155, 163, 171);
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 1;

}

.left-btn {
    left: 20px;

}

.right-btn {
    right: 20px;

}

.img-style {
    aspect-ratio: 17/8;
    object-fit: cover;


}

.carousel-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.carousal-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(234, 27, 27);
    border-radius: 50%;
    transition: 0.4s ease;
}

.carousal-dot.active {
    background-color: white;
}