* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header {
    padding: 0 2.8rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(201, 235, 251);
    color: black;

}

.logo {

    height: 8rem;
    width: 8rem;
    border-radius: 20rem;
    overflow: wrap;
    padding: 1rem;

}

.navbar-list {
    display: flex;
    gap: 4rem;
    list-style: none;
    text-decoration: none;
    list-style: none;
}

.navbar-link {

    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;

}

.navbar-link:hover,
:active {
    color: rgb(195, 34, 48);
}



.moblie-navbar {
    width: 2.3rem;
    height: 4rem;
    color: black;
}

.mobile-navbar-btn {
    background-color: transparent;
}

.moblie-navbar[name="close-circle-outline"] {
    display: none;
} */

/* navbar styling */
header {
    background-color: #23446b;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.logo img {
    width: 100px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}



.footer {
    background-color: #333;
    color: #fff;
    text-align: center;

}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;

}


.contact-details {
    text-align: left;
    display: flexbox;
    gap: 10px;
    margin-top: 2px;
}

.contact-details p {
    margin-bottom: 5px;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
}

.email-icon {
    display: flex;
    gap: 2px;
}

.phone-icon {
    display: flex;
    gap: 2px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .social-media {
        margin-bottom: 20px;
    }


}


/* carousal styling */
.canvas {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80vw;
    aspect-ratio: 17/8;
    position: relative;
    overflow: hidden;


}

.flex-container {
    display: flex;
    height: 100%;
    background-color: red;
    transition: 1s ease;
}

.btn {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: rgb(155, 163, 171);
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 1;

}

.left-btn {
    left: 20px;

}

.right-btn {
    right: 20px;

}

.img-style {
    aspect-ratio: 17/8;
    object-fit: cover;


}

.carousel-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.carousal-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(234, 27, 27);
    border-radius: 50%;
    transition: 0.4s ease;
}

.carousal-dot.active {
    background-color: white;
}