/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 20px;
}

.heading {
    background-color: #007BFF;
    color: #fff;
    padding: 5px;
    height: 60px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;


}

h1 {
    text-align: center;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}




.form-group input[type="radio"] {
    display: inline-block;
    margin-right: 10px;

}

.form-group .radio-group {
    display: flex;
    align-items: center;
}



button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* navbar styling */
header {
    background-color: #23446b;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 100px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}



.footer {
    background-color: #333;
    color: #fff;
    text-align: center;

}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;

}


.contact-details {
    text-align: left;
    display: flexbox;
    gap: 10px;
    margin-top: 2px;
}

.contact-details p {
    margin-bottom: 5px;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
}

.email-icon {
    display: flex;
    gap: 2px;
}

.phone-icon {
    display: flex;
    gap: 2px;
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .social-media {
        margin-bottom: 20px;
    }


}