/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.heading {
    background-color: #007BFF;
    color: #fff;
    border-style: hidden;
    margin-top: 0%;
    margin-bottom: 3px;
    padding: 2px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}

h1 {
    text-align: center;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Radio button styles */
input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}